<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
<!--                            V probably the way to capitalize or alter the string below-->
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

    <th:block th:each="job: ${jobs}">
        <div th:fragment="jobListing">
            <table class="job-listing">
                <tr>
                    <td th:text="'ID: ' + ${job.id}">jobID</td>
                </tr>
                <tr>
                    <td th:text="'POSITION: ' + ${job.name}">name</td>
                </tr>
                <tr>
                    <td th:text="'EMPLOYER: ' + ${job.employer}">employer</td>
                </tr>
                <tr>
                    <td th:text="'LOCATION: ' + ${job.location}">location</td>
                </tr>
                <tr>
                    <td th:text="'POSITION TYPE: ' + ${job.positionType}">positiontype</td>
                </tr>
                <tr>
                    <td th:text="'SKILL: ' + ${job.coreCompetency}">corecomp</td>
                </tr>
            </table>
        </div>
    </th:block>




</div>

</body>
</html>